#
# File-type ignores; unfortunately...
#
# *
# !*.java
# !*/
#
# ... won't work in EGit (while it does in plain git). =/
# This also, unfortunately ignores any directory containing
# a dot `.' in its name. Adding `!*/' unignores all subdir
# contents, regardless of their extension. EGit bug that is.
#

/*

*.*

# IntelliJ

!*.xml

!/.idea/
/.idea/tasks.xml
/.idea/workspace.xml

# Source

!*.java

!/src/
!/res/

# Lib

!*.jar

!/lib/

# LaTeX

!*.tex
!*.eps
!*.jpg
!*.png

!/doc/
